<div *ngFor="let question of questions; let i = index">
  <h4 class="uk-text-center">{{ question.question }}</h4>

  <div class="uk-child-width-1-1@s uk-child-width-1-2@m uk-grid-small" uk-grid>
    <div *ngFor="let pickButton of question.questions_pool; let j = index">
      <div>
        <p>
          <button
            #button
            [ngClass]="question.buttonClass[j]"
            value="{{ pickButton }}"
            name="{{ pickButton }}"
            (click)="checkAnswer(question, i, j)"
          >
            {{ pickButton }}
          </button>
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon" />
</div>
